---

---

<nav class="bg-white px-6 py-4">
  <div class="max-w-7xl mx-auto flex items-center justify-between">
    <!-- Logo -->
    <div class="">
      <img
        class="h-24 w-24 inline-block object-contain"
        src="/favicon.svg"
        alt="logo de la tienda"
      />
    </div>

    <!-- Links del menú -->
    <div class="hidden md:flex items-center space-x-6 text-sm">
      <a
        href="#inicio"
        class="hover:text-black text-gray-700"
        >Inicio Rápido</a
      >
      <a
        href="#productos"
        class="hover:text-black text-gray-700"
        >Nuestros Productos</a
      >
      <a
        href="#nosotros"
        class="hover:text-black text-gray-700"
        >Sobre Nosotros
      </a>

      <a
        href="#contacto"
        class="text-gray-700 hover:text-black"
      >
        Contáctanos
      </a>
    </div>

    <!-- Botones acción -->
    <div class="flex items-center space-x-3">
      <a
        href="https://wa.me/989153582"
        target="_blank"
        class="bg-black text-white px-6 py-2 rounded hover:bg-gray-800 transition"
      >
        WhatsApp
      </a>
      <a
        href="https://wa.me/989153582"
        target="_blank"
        class="border border-black text-black px-6 py-2 rounded hover:bg-gray-100 transition"
      >
        Contactar
      </a>
    </div>
  </div>
</nav>
