---
const products = [
  {
    url: "/productos/img1.jpeg",
    title: "Ramo Buquet",
    subtitle: "Rosa",
    price: "S/ 55.00",
  },
  {
    url: "/productos/img2.jpeg",
    title: "Ramo Clásico",
    subtitle: "Temática",
    price: "S/ 65.00",
  },
  {
    url: "/productos/img3.jpeg",
    title: "Ramo Rayito De Amor",
    subtitle: "Cumpleaños",
    price: "S/ 35.00",
  },
  {
    url: "/productos/img4.jpeg",
    title: "Ramo Dulzura De Lotso",
    subtitle: "Especial",
    price: "S/ 120.00",
  },
  {
    url: "/productos/img5.jpeg",
    title: "Flores Amarillas",
    subtitle: "Rosa",
    price: "S/ 65.00",
  },
  {
    url: "/productos/img6.jpeg",
    title: "Rosa Premiun",
    subtitle: "Temática",
    price: "S/ 15.00",
  },
  {
    url: "/productos/img7.jpeg",
    title: "Box Corazón A Mamá",
    subtitle: "Aniversario",
    price: "S/ 60.00",
  },
  {
    url: "/productos/img8.jpeg",
    title: "Cuadro Personalizado + Empaque",
    subtitle: "Único",
    price: "S/ 60.00",
  },
  {
    url: "/productos/img9.jpeg",
    title: "Rosa Para El",
    subtitle: "Aniversario",
    price: "S/ 15.00",
  },
  {
    url: "/productos/img10.jpeg",
    title: "Cartera Mon",
    subtitle: "Único",
    price: "S/ 45.00",
  },
];
---

<section class="w-full bg-white py-16 px-4 text-center md:px-20">
  <div class="max-w-7xl mx-auto mb-12">
    <p class="text-sm font-medium text-gray-700 mb-2">Detalles</p>
    <h2 class="text-3xl md:text-4xl font-bold text-gray-900 leading-tight mb-2">
      Productos
    </h2>
    <p class="text-gray-600 text-base md:text-lg">
      Descubre nuestros regalos únicos y personalizados.
    </p>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 max-w-7xl mx-auto mb-8"
  >
    {
      products.map((product) => (
        <div class="flex flex-col items-center border border-gray-200 p-4 rounded">
          <div class="bg-gray-200 w-full aspect-[4/3] flex items-center justify-center mb-4">
            <img
              class="h-full w-full rounded aspect-[4/3] object-cover"
              src={product.url}
              alt=""
            />
          </div>
          <h3 class="font-semibold">{product.title}</h3>
          <p class="text-sm text-gray-500">{product.subtitle}</p>
          <p class="text-lg my-2">{product.price}</p>
          <button class="border border-black px-4 py-1 text-sm hover:bg-gray-100 transition">
            Agregar al carrito
          </button>
        </div>
      ))
    }
  </div>

  <div class="text-center">
    <button
      class="border border-black px-6 py-2 rounded hover:bg-gray-100 transition"
    >
      Ver todo
    </button>
  </div>
</section>
